<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.ArticleMapper">
    <insert id="addNewArticle" parameterType="org.sang.bean.Article" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article SET title=#{title},mdContent=#{mdContent},htmlContent=#{htmlContent},summary=#{summary},cid=#{cid},uid=#{uid},publishDate=#{publishDate},state=#{state},editTime=#{editTime}
    </insert>

    <update id="updateArticle" parameterType="org.sang.bean.Article">
        UPDATE article SET
        title=#{title},mdContent=#{mdContent},htmlContent=#{htmlContent},summary=#{summary},cid=#{cid},editTime=#{editTime}
        <if test="state==1">
            ,state=1
        </if>
        <if test="publishDate!=null">
            ,publishDate=#{publishDate}
        </if>
        WHERE id=#{id}
    </update>


    <select id="getAllArticle" resultType="article">
        select * from article a left join user u on a.uid = u.id limit (#{page} - 1 ),#{count};
    </select>


</mapper>